nav {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 4rem;
}

main {
  margin: 1rem;
}

.search-history-button {
  width: 100%;
  background: white;
  text-align: left;
}

.col-md-3 {
  background-color: white;
}

.uvi {
  color: white;
}

.uvi-red {
  background-color: red;
}

.uvi-orange {
  background-color: orange;
}

.uvi-yellow {
  background-color: yellow;
}

.uvi-green {
  background-color: green;
}